.card {
  border: 1px solid #dee0e2;
  flex-basis: 31%;
  flex-grow: 0;
  margin-right: 1em;
  margin-bottom: 2em;
  border-bottom: 0px;
  padding: 12px;
  background-color: #f8f8f8;
  text-decoration: none;
  height: 175px;
  width: 217px;

  &.inactive {
    color: #6F777B;
  }
  &:hover {
    background-color: #003078;
    color: #fff;
    text-decoration: none;
  }
  &:hover p {
    color: #fff;
  }

  .card-heading {
    margin-top: 0;
  }

  .card-body {
    color: #0b0c0c;

    *:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: #f8f8f8;
      transition: .1s ease-in-out;

      .card-heading a {
        color: #005EA5;
        margin-top: 0;
      }
    }

    .status {
      border-radius: 2px;
      color: #FFFFFF;
      margin-bottom: 8px;
      padding: 3px 6px 1px;
      transition: .1s ease-in;
    }

    .status-low {
      border: 1px solid #6F777B;
      color: #0B0C0C;
    }

    .status-high {
      background-color: #005EA5;
      border: 1px solid #005EA5;
    }

    .status-med {
      background-color: #6F777B;
      border: 1px solid #6F777B;
    }

    .detail-large {
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .detail {
      font-weight: 600;
      margin-bottom: 8px;
    }

  }

  .card-action {
    border-top: 0;
    padding: 12px;

    a {
      //border-bottom: 1px solid #C7DCEB;
      //color: #005EA5;
      text-decoration: none;
      line-height: 1.5em;

      &:link,
      &:visited {
        color: #005EA5;
      }

      &:hover {
        border-bottom: 1px solid #005EA5;
        color: #2e8aca;
      }
    }

    ul {
      margin: 0;

      li {
        margin: 0 0 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.js-enabled {
  .card-body {
    &.active {
      &:hover {
        p {
          color: #ffffff;
        }
        background-color: #005EA5;
        color: #FFFFFF;
        cursor: pointer;
        // transition: .1s ease-in-out;
        // transition-delay: .25s;


        .card-heading a{
          color: #FFFFFF;
          // transition-delay: .25s;
        }

        .status-low {
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          transition-delay: .25s;
        }

        .status-med {
          background-color: #005EA5;
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          transition-delay: .25s;
        }

        .status-high {
          border: 1px solid #FFFFFF;
          transition-delay: .25s;
        }

        .detail-large {
          color: #FFFFFF;
          transition-delay: .25s;
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 15px 0 0;
    border-top: 1px solid #b1b4b6;
}
.flex-container .link-text {
    text-decoration: none;
    display: block;

}
.flex-container .link-text:hover {
    color: #fff;
}
