.govuk-tabs {
    margin-top: 5px;
    margin-bottom: 20px
}

@media (min-width: 48.125em) {
    .govuk-tabs {
        margin-top:5px
    }
}

@media (min-width: 48.125em) {
    .govuk-tabs {
        margin-bottom:30px
    }
}

.govuk-tabs__title {
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-bottom: 10px
}

@media print {
    .govuk-tabs__title {
        font-family: sans-serif
    }
}

@media (min-width: 48.125em) {
    .govuk-tabs__title {
        font-size:19px;
        font-size: 1.9rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-tabs__title {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media print {
    .govuk-tabs__title {
        color: #000
    }
}

.govuk-tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px
}

@media (min-width: 48.125em) {
    .govuk-tabs__list {
        margin-bottom:30px
    }
}

.govuk-tabs__list-item {
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.25;
    margin-left: 25px
}

@media print {
    .govuk-tabs__list-item {
        font-family: sans-serif
    }
}

@media (min-width: 48.125em) {
    .govuk-tabs__list-item {
        font-size: 19px;
        font-size: 1.9rem;
        line-height: 1.31579
    }
}

@media print {
    .govuk-tabs__list-item {
        font-size: 14pt;
        line-height: 1.15
    }
}

.govuk-tabs__list-item::before {
    color: #0b0c0c;
    content: "\2014 ";
    margin-left: -25px;
    padding-right: 5px
}

@media print {
    .govuk-tabs__list-item::before {
        color: #000
    }
}

.govuk-tabs__tab {
    display: inline-block;
    margin-bottom: 10px
}

.govuk-tabs__tab:link {
    color: #1d70b8
}

.govuk-tabs__tab:visited {
    color: #4c2c92
}

.govuk-tabs__tab:hover {
    color: #003078
}

.govuk-tabs__tab:active {
    color: #0b0c0c
}

.govuk-tabs__tab:focus {
    color: #0b0c0c
}

.govuk-tabs__tab:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none
}

.govuk-tabs__panel {
    margin-bottom: 30px
}

@media (min-width: 48.125em) {
    .govuk-tabs__panel {
        margin-bottom:50px
    }
}

@media (min-width: 48.125em) {
    .js-enabled .govuk-tabs__list {
        margin-bottom:0;
        border-bottom: 1px solid #b1b4b6
    }

    .js-enabled .govuk-tabs__list:after {
        content: "";
        display: block;
        clear: both
    }

    .js-enabled .govuk-tabs__title {
        display: none
    }

    .js-enabled .govuk-tabs__list-item {
        position: relative;
        margin-right: 5px;
        margin-bottom: 0;
        margin-left: 0;
        padding: 10px 20px;
        float: left;
        background-color: #f3f2f1;
        text-align: center
    }

    .js-enabled .govuk-tabs__list-item::before {
        content: none
    }

    .js-enabled .govuk-tabs__list-item--selected {
        position: relative;
        margin-top: -5px;
        margin-bottom: -1px;
        padding-top: 14px;
        padding-right: 19px;
        padding-bottom: 16px;
        padding-left: 19px;
        border: 1px solid #b1b4b6;
        border-bottom: 0;
        background-color: #fff
    }

    .js-enabled .govuk-tabs__list-item--selected .govuk-tabs__tab {
        text-decoration: none
    }

    .js-enabled .govuk-tabs__tab {
        margin-bottom: 0
    }

    .js-enabled .govuk-tabs__tab:link,.js-enabled .govuk-tabs__tab:visited,.js-enabled .govuk-tabs__tab:hover,.js-enabled .govuk-tabs__tab:active,.js-enabled .govuk-tabs__tab:focus {
        color: #0b0c0c
    }
}

@media print and (min-width: 48.125em) {
    .js-enabled .govuk-tabs__tab:link,.js-enabled .govuk-tabs__tab:visited,.js-enabled .govuk-tabs__tab:hover,.js-enabled .govuk-tabs__tab:active,.js-enabled .govuk-tabs__tab:focus {
        color:#000
    }
}

@media (min-width: 48.125em) {
    .js-enabled .govuk-tabs__tab::after {
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }

    .js-enabled .govuk-tabs__panel {
        margin-bottom: 0;
        padding: 30px 20px;
        border: 1px solid #b1b4b6;
        border-top: 0
    }
}

@media (min-width: 48.125em) and (min-width: 48.125em) {
    .js-enabled .govuk-tabs__panel {
        margin-bottom:0
    }
}

@media (min-width: 48.125em) {
    .js-enabled .govuk-tabs__panel>:last-child {
        margin-bottom:0
    }

    .js-enabled .govuk-tabs__panel--hidden {
        display: none
    }
}

label[for="keyword"] {
    font-weight: bold;
}
