.activity-cell-desc {
  overflow: hidden;
  width: 641px;
}

.activity-cell-date {
  width: 110px;
}

.pre-wrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  word-break: break-all;
}

/* liability view css added to match with the prototype */
#liability_tabs .cya-question {
    padding: 10px 20px 10px 0;
}
#liability_tabs .govuk-check-your-answers {
    border-top: 1px solid #bfc1c3;
}
#liability_tabs h3 {
    margin-bottom: 10px;
}
/* End */
