.activity-cell-desc {
  overflow: hidden;
  width: 641px;
}

.activity-cell-date {
  width: 110px;
}

.pre-wrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  word-break: break-word;
}

/* liability view css added to match with the prototype */
#liability_tabs .cya-question {
    padding: 10px 20px 10px 0;
}
#liability_tabs .govuk-check-your-answers {
    border-top: 1px solid #bfc1c3;
}
#liability_tabs h3 {
    margin-bottom: 10px;
}
/* End */


.js-enabled .refresh-content {
    display: none;
}
/* successful notification banner */
.govuk-notification-banner--success {
    border-color: #00703c;
    background-color: #00703c;
}
.govuk-notification-banner--success:focus {
    border-color: #0b0c0c;
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}
.govuk-notification-banner {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #00703c;
}
.govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid transparent;
}
.govuk-notification-banner__title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}
.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}
.govuk-notification-banner__heading {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    margin: 0 0 15px 0;
    padding: 0;
}
/* extra requirements added  */

.heading-margin-bottom {
    margin-bottom: 0px;
}
.govuk-notification-banner-width {
    width: 66.66667%;
}
@media screen and (max-width: 767px) {
    .govuk-notification-banner-width {
        width: 100%;
    }
}
/* successful notification banner END */
/* added input file focus indication according to GDS */
.govuk-file-upload {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.25;
    color: #0b0c0c;
    padding-top: 5px;
    padding-bottom: 5px;
}
.govuk-file-upload:focus {
    margin-right: -5px;
    margin-left: -5px;
    padding-right: 5px;
    padding-left: 5px;
    outline: 3px solid #fd0;
    -webkit-box-shadow: inset 0 0 0 4px #0b0c0c;
    box-shadow: inset 0 0 0 4px #0b0c0c;
}