

td {
  vertical-align: top;
  font-size: 24px;
}

.activity-cell-desc {
  overflow: hidden;
  width: 641px;
  text-align: left;
  vertical-align: top;
  font-size: 24px;
}


.activity-cell-date {
  width: 110px;
}


.activity-note-content{
  padding-left: 26px;
  line-height: 1.3;
}

.activity-inline-label {
  display:inline;
  font-size: 19px;
}
