.reopen-warning-notice {
  position: relative;
  margin-bottom: 30px;
}

.reopen-warning-notice .icon-important {
  vertical-align: middle;
  margin-right: 10px;
}

.form-group .advanced_search--filters_heading {
  background: none;
}

fieldset .form-group > fieldset > .multiple-choice {
  margin-left: 10px;
}

fieldset .form-group > fieldset > .multiple-choice span {
  font-weight: normal;
}

fieldset .form-group > fieldset {
  margin-top: -20px !important;
}

fieldset .form-group.panel {
  margin-left: 0.85em;
}

fieldset .form-group.innertext .form-label {
  margin-left: 30px;
  margin-top: -20px !important;
}

fieldset .form-group.panel .form-group-error {
  margin-left: -35px;
  padding-left: 40px;
}

fieldset .form-group.innertext .form-control-wrapper {
  margin-left: 30px;
}

.form-groups {
  display: flex;
}

.form-groups > div.form-group {
  margin-right: 15px;
}