$red: #B10E1E;
$blue: #005EA5;
$white: #FFF;
$black: #0b0c0c;


.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;
}

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}