$red: #B10E1E;
$blue: #005EA5;
$white: #FFF;
$black: #0b0c0c;
$gray: #dee0e2;
$gray-dark: #6F777B;


.text-red {
  color: $red;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;
}

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-gray {
  background-color: $gray;
}

.bg-gray--dark {
  background-color: $gray-dark;
}