a.header__menu__proposition-name, a:visited.header__menu__proposition-name {
  color: #fff;
}

a.header__menu__proposition-name {
  font-size: 24px;
  font-family: "nta",Arial,sans-serif;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

