a.header__menu__proposition-name, a:visited.header__menu__proposition-name {
  color: #fff;
}

a.header__menu__proposition-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.25;
  text-decoration: none;
}

