@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }
}

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-preview {
  max-height: 100px;
  max-width: 100px;

}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1.05263em;
}

.w-95 {
  width: 95%;
}

#global-header .header-wrapper .header-global {
  width: unset !important;
}

#global-header .header-wrapper .header-global .header-logo {
  width: unset !important;
}


.service-info {
  border-top: 10px solid #005ea5;
  padding-bottom: 0.5em;
}

.centered-content {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.text-right {
  text-align: right
}

.secondary-button {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
  padding: .526315em .789473em .263157em;

  &:hover, &:focus {
    position: relative;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    box-sizing: border-box;
    box-shadow: none;
    vertical-align: top;
    background-color: #fff;
    color: #2e8aca;
    text-decoration: underline;

    padding: .526315em .789473em .263157em;
  }
}
