@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }
}

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-preview {
  max-height: 100px;
  max-width: 100px;

}

.mt-0 {
  margin-top: 0;
}

#global-header .header-wrapper .header-global {
  width: unset !important;
}

#global-header .header-wrapper .header-global .header-logo {
  width: unset !important;
}


.service-info {
  border-top: 10px solid #005ea5;
  padding-bottom: 0.5em;
}

.centered-content {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.text-right {
  text-align: right
}