@import 'variables';

@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }

  .w-95 {
    width: 95%;
  }
}

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-preview {
  max-height: 100px;
  max-width: 100px;
}

.display-inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.mt-0 {
  margin-top: 0;
}

.mt-30 {
  margin-top: 30px;
}

.mt-45 {
  margin-top: 45px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: $spacer;
}

.mb-1 {
  margin-bottom: $spacer;
}

.ml-1 {
  margin-left: $spacer;
}

.mr-1 {
  margin-right: $spacer;
}

.mt-2 {
  margin-top: (2 * $spacer);
}

.mb-2 {
  margin-bottom: (2 * $spacer);
}

.ml-2 {
  margin-left: (2 * $spacer);
}

.mr-2 {
  margin-right: (2 * $spacer);
}

.mt-3 {
  margin-top: (3 * $spacer);
}

.mb-3 {
  margin-bottom: (3 * $spacer);
}

.ml-3 {
  margin-left: (3 * $spacer);
}

.mr-3 {
  margin-right: (3 * $spacer);
}

.mt-4 {
  margin-top: (4 * $spacer);
}

.mb-4 {
  margin-bottom: (4 * $spacer);
}

.mt-5 {
  margin-top: (5 * $spacer);
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-1 {
  padding-top: $spacer;
}

.pt-2 {
  padding-top: 2px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-4rem {
  padding-top: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pr-5 {
  padding-right: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.align-right {
  text-align: right;
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center;
}

table thead th {
  vertical-align: top;
}

table tbody td, table tbody th {
  vertical-align: middle;
}

table tbody td[align="right"], table tbody th[align="right"], table thead th[align="right"] {
  text-align: right;
}


#global-header.with-proposition .header-wrapper .header-global {
  width: 100%;
}

#global-header.with-proposition .header-wrapper .header-global .header-logo {
  width: 100%;
}


.service-info {
  border-top: 10px solid #005ea5;
  padding-bottom: 0.5em;
}

.centered-content {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.word-break {
  word-break: break-all;
}

.secondary-button {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
  padding: .526315em .789473em .263157em;

  &:hover, &:focus {
    position: relative;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    box-sizing: border-box;
    box-shadow: none;
    vertical-align: top;
    background-color: #fff;
    color: #2e8aca;
    text-decoration: underline;

    padding: .526315em .789473em .263157em;
  }
}

.case-heading {
  .case-reference {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.11111;
    color: #6f777b;
    margin-bottom: 5px;

    a, a:visited, a:active, a:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .case-title {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.phase-tag {
  display: inline-block;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.live {
  color: red;
  font-weight: 600;
}

.button-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover, &:focus {
    color: #2e8aca;
  }

  &:visited {
    color: #4c2c92;
  }
}

.boxed {
  border: 1px solid #bfc1c3;
  float: left;
  width: 100%;
}

.boxed-content {
  padding: 30px 20px 30px 20px;
}

.full-width {
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #bfc1c3;
}

.border-top {
  border-top: 1px solid #bfc1c3;
}

.border-left {
  border-left: 1px solid #bfc1c3;
}

.border-right {
  border-right: 1px solid #bfc1c3;
}

td.border-left, th.border-left {
  padding-left: 10px;
}

td.border-right, th.border-right {
  padding-right: 10px;
}

.float-right {
  float: right;
}

table tbody tr th {
  font-weight: bold;
}

.dl-mb-2 {
  dt,
  dd {
    margin-bottom: (2 * $spacer);
  }
}

.attachment-img {
  width: 6em;
}

.left {
  float: left;
}

.button-arrow {
  background-image: url(/tariff-classification/assets/images/icon-pointer.png);
  background-size: 30px 19px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 40px;
}
