@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }
}

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-preview {
  max-height: 100px;
  max-width: 100px;

}

.mt-0 {
  margin-top: 0;
}
