@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }

  .w-95 {
    width: 95%;
  }
}

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-preview {
  max-height: 100px;
  max-width: 100px;

}

.bold {
  font-weight: bold;
}

.mt-0 {
  margin-top: 0;
}

.mt-30 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1.05263em;
}

.mb-1 {
  margin-bottom: 1.05263em;
}

.ml-1 {
  margin-left: 1.05263em;
}

.mr-1 {
  margin-right: 1.05263em;
}

.mt-2 {
  margin-top: 2.05263em;
}

.mb-2 {
  margin-bottom: 2.05263em;
}

.ml-2 {
  margin-left: 2.05263em;
}

.mr-2 {
  margin-right: 2.05263em;
}

.mb-30 {
  margin-bottom: 30px;
}

.w-50 {
  width: 50%;
}

.w-15 {
  width: 15%;
}


#global-header .header-wrapper .header-global {
  width: unset !important;
}

#global-header .header-wrapper .header-global .header-logo {
  width: unset !important;
}


.service-info {
  border-top: 10px solid #005ea5;
  padding-bottom: 0.5em;
}

.centered-content {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.text-right {
  text-align: right
}

.secondary-button {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: top;
  background-color: #fff;
  color: #005ea5;
  text-decoration: underline;
  cursor: pointer;
  padding: .526315em .789473em .263157em;

  &:hover, &:focus {
    position: relative;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    box-sizing: border-box;
    box-shadow: none;
    vertical-align: top;
    background-color: #fff;
    color: #2e8aca;
    text-decoration: underline;

    padding: .526315em .789473em .263157em;
  }
}

.case-heading {
  .case-reference {
    font-weight: 400;
    font-size: 27px;
    line-height: 1.11111;
    color: #6f777b;
    margin-bottom: 5px;
  }

  .case-title {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.phase-tag {
  display: inline-block;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.heading-medium {
  font-size: 1.5em;
  line-height: 1.25;
}
