@import "partials/_govuk-helpers.scss";

@import "layout";
@import "side_nav";
@import "header";
@import "tabs";
@import "activity";
@import "colours";
@import "search";
@import "autocomplete";
@import "casestatus";

// AF 4.11 WCAG 2.1 updates
@import "partials/_palette";
@import "partials/_focus";

@import "partials/_tabs";


span.extra-bold {
  font-weight: 800;
}