@import "colours";
@import "variables";

.search_box {

  display: flex;

  input[type=text] {
    height: 40px;
    width: 80%;
    width: calc(100% - 44px); // nav-search button size + 2 x 2px border
  }

  button {
    color: $blue;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    position: relative;
    left: -6px;
    border-radius: 0;
    border: 2px solid $black;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M29.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='white'%3E%3C/path%3E%3C/svg%3E") $blue no-repeat center;
  }
  button:focus {
    outline: 3px solid #ffbf47; }
}

.advanced_search {
  &--filters_container {
    border: 5px solid $gray;
  }

  &--filters {
    padding-bottom: 10px;

    .border-top {
      border-top: 5px solid $gray;
    }
  }

  &--filters-checkbox {
    margin-left: 10px;
  }

  &--filters_heading {
    background-color: $gray;
    font-weight: bold;
    font-size: 1.17em;
    padding: $spacer $spacer $spacer;
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }
}

.search-results {
  &_table {
    table
      thead th,
      tbody td {
      font-size: 1.4rem !important;
    }
  }
}

.search-results {

  &--thumbnail {

    &_wrapper {
      display: inline-block;
      height: 8em;
      margin-bottom: 2em;
      position: relative;
    }

    &_image {
      height: 100%;

      img {
        display: block;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 95%;
      }
    }

    &_text {
      float: none;
      font-size: 1.6rem;
      padding-top: 0.5em;
      text-align: center;
    }
  }
}

@media (max-width: 820px) {
  .search-results--thumbnail_text {
    font-size: 1.4rem;
  }
}

.column-fifth,
.column-one-fifth {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 820px) {
  .column-fifth,
  .column-one-fifth {
    float: left;
    width: 20%;
  }
}

.image-anchor:focus img {
  border: 3px solid #ffbf47;
}