@import "colours";

.nav-search {
  input {
    //background: url("https://www.iconspng.com/uploads/minimal-magnifying-glass/minimal-magnifying-glass.png") no-repeat top right;
    background-size: 40px 40px;
    height: 40px;
    width: 80%;
  }

  button {
    color: $blue;
    height: 40px;
    width: 40px;
    position: relative;
    left: -6px;
    top: 10px;
    border-radius: 0;
    border: 2px solid $black;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M29.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='white'%3E%3C/path%3E%3C/svg%3E") $blue no-repeat center;
  }

  a {
    position: relative;
    top: 18px;
  }

}